{% extends 'base.html' %}

{% block content %}
<div class="calc-container">
    <div class="calc-display">
    <span>{{ newResult }}</span>
    </div>
    <div class="calc-body">
    <ul>
        <li>
            <div class="symbal-btn" onclick="location.href='{% url 'operatorInput' operator='plus' newResult=newResult lastResult=lastResult lastOperator=lastOperator reset=reset %}'">&plus;</div>
        </li>
        <li>
            <div class="digital-btn" onclick="location.href='{% url 'digitInput' digit='9' previous=newResult lastResult=lastResult lastOperator=lastOperator reset=reset %}'">9</div>
        </li>
        <li>
            <div class="digital-btn" onclick="location.href='{% url 'digitInput' digit='8' previous=newResult lastResult=lastResult lastOperator=lastOperator reset=reset %}'">8</div>
        </li>
        <li>
            <div class="digital-btn" onclick="location.href='{% url 'digitInput' digit='7' previous=newResult lastResult=lastResult lastOperator=lastOperator reset=reset %}'">7</div>
        </li>
        <li>
            <div class="symbal-btn" onclick="location.href='{% url 'operatorInput' operator='minus' newResult=newResult lastResult=lastResult lastOperator=lastOperator reset=reset %}'">&minus;</div>
        </li>
        <li>
            <div class="digital-btn" onclick="location.href='{% url 'digitInput' digit='6' previous=newResult lastResult=lastResult lastOperator=lastOperator reset=reset %}'">6</div>
        </li>
        <li>
            <div class="digital-btn" onclick="location.href='{% url 'digitInput' digit='5' previous=newResult lastResult=lastResult lastOperator=lastOperator reset=reset %}'">5</div>
        </li>
        <li>
            <div class="digital-btn" onclick="location.href='{% url 'digitInput' digit='4' previous=newResult lastResult=lastResult lastOperator=lastOperator reset=reset %}'">4</div>
        </li>
        <li>
            <div class="symbal-btn" onclick="location.href='{% url 'operatorInput' operator='times' newResult=newResult lastResult=lastResult lastOperator=lastOperator reset=reset %}'">&times;</div>
        </li>
        <li>
            <div class="digital-btn" onclick="location.href='{% url 'digitInput' digit='3' previous=newResult lastResult=lastResult lastOperator=lastOperator reset=reset %}'">3</div>
        </li>
        <li>
            <div class="digital-btn" onclick="location.href='{% url 'digitInput' digit='2' previous=newResult lastResult=lastResult lastOperator=lastOperator reset=reset %}'">2</div>
        </li>
        <li>
            <div class="digital-btn" onclick="location.href='{% url 'digitInput' digit='1' previous=newResult lastResult=lastResult lastOperator=lastOperator reset=reset %}'">1</div>
        </li>
        <li>
            <div class="symbal-btn" onclick="location.href='{% url 'operatorInput' operator='divide' newResult=newResult lastResult=lastResult lastOperator=lastOperator reset=reset %}'">&divide;</div>
        </li>
        <li>
            <div class="symbal-btn"onclick="location.href='{% url 'operatorInput' operator='equals' newResult=newResult lastResult=lastResult lastOperator=lastOperator reset=reset %}'">&equals;</div>
        </li>
        <li>
            <div class="digital-btn" onclick="location.href='{% url 'digitInput' digit='0' previous=newResult lastResult=lastResult lastOperator=lastOperator reset=reset %}'">0</div>
        </li>
         <li>
            <div class="symbal-btn" onclick="location.href='{% url 'home' %}'">C</div>
        </li>
    </ul>
    </div> 
</div>
{% endblock content %}
