{% extends 'base.html' %}

{% block content %}
<div class="calc-container">
    <div class="calc-display">
        <span>0</span>
    </div>
    <div class="calc-body">
    <ul>
        <li>
            <div class="symbal-btn">&plus;</div>
        </li>
        <li>
            <div class="digital-btn">9</div>
        </li>
        <li>
            <div class="digital-btn">8</div>
        </li>
        <li>
            <div class="digital-btn">7</div>
        </li>
        <li>
            <div class="symbal-btn">&minus;</div>
        </li>
        <li>
            <div class="digital-btn">6</div>
        </li>
        <li>
            <div class="digital-btn">5</div>
        </li>
        <li>
            <div class="digital-btn">4</div>
        </li>
        <li>
            <div class="symbal-btn">&times;</div>
        </li>
        <li>
            <div class="digital-btn">3</div>
        </li>
        <li>
            <div class="digital-btn">2</div>
        </li>
        <li>
            <div class="digital-btn">1</div>
        </li>
        <li>
            <div class="symbal-btn">&divide;</div>
        </li>
        <li>
            <div class="symbal-btn">&equals;</div>
        </li>
        <li>
            <div class="digital-btn">0</div>
        </li>
    </ul>
    </div> 
</div>
{% endblock content %}
