html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fbf9f4;
    color: #0C4B33;
    font-family: Ubuntu, Arial, sans-serif;   
}

#logo{
    font-size: 3rem;
    font-weight: 700;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    color: #FFF;

}

.header{
    background-color: #0C4B33;
    color: #fff;
    height: 4rem;
    margin-bottom: 40px;
    padding: 10px 0;
}

.container{
    margin: 0 10%;
}

.calc-container{
    margin: 0 auto;
    border:5px solid #0C4B33;
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 384px;
}

.calc-display{
    border:5px solid #0C4B33;
    padding: 0.5rem 1rem;
    height: 3rem;
    background-color: rgb(17, 110, 74);
    color:#fff;
    font-size: 3rem;
    text-align: right;
}

.calc-body ul{
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
    overflow: hidden;
}

.calc-body li{
    float: right;
}

.calc-body li input, .calc-body li button{
    display: block;
    padding: 1rem;
    margin: 0.5rem;
    border: 3px solid #0C4B33;
    border-radius: 1.5rem;
    height: 5rem;
    width: 5rem;
    text-align: center;
    font-size: 2rem;
}
a{
    text-decoration: none;
}

.digital-btn{
    background-color: rgb(34, 185, 20);
}

.digital-btn:hover{
    background-color: rgb(25, 149, 14);
}

.digital-btn:active{
    background-color:  rgb(23, 126, 14);
}

.symbal-btn{
    background-color: rgb(81, 235, 176);
}

.symbal-btn:hover{
    background-color: rgb(64, 185, 139);
}

.symbal-btn:active{
    background-color: rgb(50, 145, 108);
}

.alert {
    padding: 20px;
    background-color: #c83c32;
    color: white;
    margin-bottom: 30px;
    float: right;
    width: 20%;
    animation-name: myAnimation;
    animation-duration: 5000ms;
    animation-fill-mode: forwards;
  }
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

@keyframes myAnimation{
    0%{
      opacity: 1;
    }

    100%{
      display: none;
      opacity: 0;
    }
}